@page "/OrderFormPage"
@using Razorpay.Api
@inject IService _service
@inject IJSRuntime JSRuntime
@inject NavigationManager navManager

<div>
    <EditForm Model="orderEntity" OnSubmit="PayWithRazorpay">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div>
            <div>
                <div>Name: </div>
                <InputText @bind-Value="orderEntity.CustomerName" />
            </div>
            <br>
            <div>
                <div>Email: </div>
                <InputText @bind-Value="orderEntity.CustomerEmail" />
            </div>
            <br>
            <div>
                <div>Mobile Number: </div>
                <InputText @bind-Value="orderEntity.Mobile" />
            </div>            
            <br>
            <div>
                <div>Amout: </div>
                <InputNumber @bind-Value="orderEntity.TotalAmount" />
            </div> 
            <br>
            <button type="submit">
                Pay Now
            </button>
        </div>
    </EditForm>

</div>

@code {
    private OrderEntity orderEntity = new();
    private string orderId;

    private async Task PayWithRazorpay()
    {
        orderId = _service.CreateOrder(Convert.ToDecimal(orderEntity.TotalAmount));

        var objRef = DotNetObjectReference.Create(new VerifyPaymentHelper(_service, navManager));

        if(orderId is not null)
        {
            await JSRuntime.InvokeVoidAsync("openRazorpay", objRef, orderId,
            orderEntity.CustomerName, orderEntity.CustomerEmail, orderEntity.Mobile);
        }
    }

}